.container {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Lucida Sans';
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icons a {
  margin: 0 10px;
  color: #050205;
  font-size: 24px;
}

.social-media-icons a:hover {
  color: rgb(238, 35, 221); 
}
